<div class="bg-light border p-2 mb-3 col-5 offset-1"
     @onclick="(args)=>AmenitySelectionChanged(args,Amenity.Name)">
    <h4 class="text-secondary">Amenity - @Amenity.Id</h4>

    @Amenity.Name<br />
    @Amenity.Description<br />
    <span>@FirstRF @SecondRF</span>

</div>

@code {
    [Parameter]
    public Amenity Amenity { get; set; }
    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    [Parameter]
    public RenderFragment FirstRF { get; set; }
    [Parameter]
    public RenderFragment SecondRF { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync(name);
    }
}