@page "/learnrouting"
@page "/newrouting/{name}/{age}"
@page "/newrouting/{salary:int}"

<h3>Learnrouting</h3>
<br />
<h5>Name :@name</h5>
<h5>Age :@age</h5>
<h5>Salary :@salary</h5>
<hr />
<NavLink class="btn btn-primary" href="Advancedrouting?FName=qais&LastName=Alshaar">
    <span class="oi oi-list-rich" aria-hidden="true"></span>
     Routing with query parameters
</NavLink>

@code {
    [Parameter]
    public string name { get; set; }
    [Parameter]
    public string age { get; set; }
    [Parameter]
    public int salary { get; set; } 
}
