@page "/Advancedrouting"
@inject NavigationManager Navigation
<h3>Learn Advanced Routing</h3>
<hr />
<h5> FirstName: @FName  </h5>
<h5> LastName: @LastName  </h5>

<p>
    <button class="btn btn-primary mb-3" @onclick="loadparameter">

        Load Parameter
    </button>
    <br />

    <a href="learnrouting" class="btn btn-secondary mb-3"> go to Learn Routung</a>
    <button href="learnrouting" class="btn btn-success mb-3" @onclick="GoHome"> go home</button>

</p>
@code {
    private string FName;
    private string LastName;

    private void loadparameter(){
        //جلب بيانات الباراميتير من العنوان
        var NewUri = new Uri(Navigation.Uri);

        var queryparams = System.Web.HttpUtility.ParseQueryString(NewUri.Query);
        // FName = queryparams["FName"];
        FName = queryparams[0];
        LastName = queryparams[1];

    }


    private void GoHome(){


        Navigation.NavigateTo("/");
    }
}
